{% extends "base_generic.html" %}
<h1>{% block title %}Detail Order{% endblock %}</h1>
{% block content %}

  <h1>head Order Detail: {{ order.title }}</h1>
    <p><strong>Email:</strong> {{ order.email }}</p>
    <p><strong>Total Price:</strong> {{ order.total_price }}</p>
    <p><strong>Total Discounts:</strong> {{ order.total_discounts }}</p>
    <p><strong>Order Number:</strong> {{ order.number }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Items</h4>

    {% for item in order.line_items.all %}
        <p class="text-muted"><strong> ID: </strong> {{item.id}}</p>
        <p class="text-muted"><strong> Titulo: </strong> {{item.title }}</p>
        <p class="text-muted"><strong> Quantity: </strong> {{item.quantity }}</p>
        <p class="text-muted"><strong> Vendor: </strong> {{item.vendor }}</p>
        <p class="text-muted"><strong> Product Id : </strong> {{item.product_id }}</p>
        <p class="text-muted"><strong> Total Discount: </strong> {{item.total_discount }}</p>
    {% endfor %}
  </div>

{% endblock %}